version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      # Check for updates to GitHub Actions every Wednesday
      interval: 'weekly'
      day: 'wednesday'
