/.hg*
/.vscode*
/Makevars.global*
/Testing*
/build*
/maint*
/vendor*

GNUmakefile
MMakefile
Makevars.local*
compile_flags.txt
Tmp*
tmp*

*.a
*.bz2
*.d
*.dll
*.dylib
*.exe
*.gz
*.lib
*.map
*.o
*.obj
*.out
*.patch
*.py[cdo]
*.rar
*.so
*.swp
*.tmp
*.ttp
*.xz
*.zip
*.zst

doc/*.man
doc/*.ps
doc/*.tex

src/stub/**/.*-stamp
src/stub/tmp*/*.bin
src/stub/tmp*/*.bin.bindump
src/stub/tmp*/*.bin.disasm
src/stub/tmp*/*.o.disasm
src/stub/tmp*/mips.r3000-*.[is]
src/stub/tmp*/mipsel.r3000-*.[is]
src/stub/src/**/tmp*/*

src/stub/tools/sstrip/amd64-linux-sstrip
src/stub/tools/sstrip/i386-linux-sstrip
src/stub/tools/sstrip/sstrip
