/.bzr*
/.hg*
/.vscode*
/Makevars.global*
/build*
/maint*

.depend
GNUmakefile
MMakefile
Makevars.local*
tmp-testsuite*

*.a
*.dll
*.lib
*.py[cdo]
*.so
*.swp

doc/*.1
doc/*.doc
doc/*.html
doc/*.man
doc/*.ps
doc/*.tex

src/compress_nrv*
src/*.mft
src/*.rc

src/*.d
src/*.exe
src/*.map
src/*.o
src/*.obj
src/*.out
src/*.res
src/*.ttp

src/stub/**/.*-stamp
src/stub/**/MMakefile
src/stub/tmp*/*.bin
src/stub/tmp*/*.bin.bindump
src/stub/tmp*/*.bin.disasm
src/stub/tmp*/*.d
src/stub/tmp*/*.o
src/stub/tmp*/*.o.disasm
src/stub/tmp*/mips.r3000-*.[is]
src/stub/tmp*/mipsel.r3000-*.[is]
src/stub/src/**/tmp*/*

src/stub/tools/armpe/armpe_tester.exe
src/stub/tools/armpe/armpe_tester.out

src/stub/tools/sstrip/amd64-linux-sstrip
src/stub/tools/sstrip/i386-linux-sstrip
src/stub/tools/sstrip/sstrip
