# see https://github.com/github-linguist/linguist
#
# HINT: check settings with
#   git ls-files | git check-attr --stdin --all

#
# tell diff tools that these files are generated automatically
#

/doc/upx.1                              linguist-generated
/doc/upx-doc.*                          linguist-generated

/src/stub/*.h                           linguist-generated
/src/stub/src/arch/**/lzma_d_c[fns].S   linguist-generated
/src/stub/tmp/**                        linguist-generated

/misc/podman/*/packages*.txt            linguist-generated
/misc/testsuite/*expected_sha256sums*   linguist-generated

#
# make GitHub language detection more accurate
#

/src/*.h                                linguist-language=C++
/src/*/*.h                              linguist-language=C++

/src/stub/**/*.ash                      linguist-language=Assembly
/src/stub/**/*.asm                      linguist-language=Assembly
/src/stub/**/*.S                        linguist-language=Assembly

/src/stub/tmp/**                        linguist-vendored
